{% extends "account/account.html" %}
{% block body %}
  {% if not session.logged_in %}
    <p>
HELP HELP HELP 
Lorem ipsum dolor sit amet, ne malis dissentiet sit, quo laudem utamur id. Sit inani novum officiis at. Aeque dictas efficiendi mea an, ea vis nihil tincidunt, accusata euripidis ius ea. Atqui corpora est te, qui purto sanctus sensibus ex. Per ea possim delicatissimi, vim ex nullam salutandi scripserit.

Ex nec sale adhuc. Quo eu mazim nonumes delicatissimi, has ne populo probatus. Te prima posse probatus qui. Te quo impedit apeirian, tation essent option ei vix.

Ea per labores theophrastus. At quo nibh posse, facete labores vis ne, in noster maluisset dissentiet mel. Vis soluta graecis omittantur at, vix illum impedit vulputate cu. Id quo eius ridens.
    </p>
  {% endif %}
{% endblock %}
{% block button %}
  {% if not session.logged_in %}
  {% endif %}
{% endblock %}
