<head>
  <meta name=viewport content='user-scalable=no'>
  <link rel='shortcut icon' type=image/x-icon href=static/favicon.ico>
  <link rel=stylesheet type=text/css href=static/common.css>
  <link rel=stylesheet type=text/css href=static/test.css>
  <script type=text/javascript src=static/jquery-3.3.1.min.js></script>
</head>
<body>
  <div class=page>
    <br>
    {% for category, message in get_flashed_messages(with_categories=true) %}
      <div class="{{ category }}">{{ message }}</div>
    {% endfor %}
    <div class=blue-box style='font-size:20pt;font-style:bold'>
      <p id=txt>Sending out test mail - Please wait two minutes...</p>
    </div>
    <br>
    <form action=send_batch method=get>
      <input class=btn type=submit name=send_without_test value='SEND WITHOUT TEST'>
    </form>
  </page>
<script type=text/javascript>
  $(document).ready(function() {
    setTimeout(

      function() {
        $.getJSON("https://www.mail-tester.com/{{ id }}-{{ tm }}&format=json",function(data){
          if (data.status==false){
            document.write(data.title);
            return;
          }
          if (data['mark'] && data['mark'] >= -3) { // && data['mark'] < -0.001) {
            var s = 'Congrats! your score is high enough to send - your score: ' + data['displayedMark'] + ' - But are you sure that you want to send all these emails?';
            document.getElementById('txt').innerText = s;
            if (confirm(s)) {
              window.location.href = "/send_batch";
            } else {
              alert('Email send canceled!');
              window.location.href = "/";
            }
          } else {
            var s = 'Sorry! mail processing stopped due to low score or mail tests running out - your score: ' + (data['displayedMark']? data['displayedMark'] : 'none');
            document.getElementById('txt').innerText = s;
            alert(s);
            window.location.href = "/";
          }
        });
      },

      120000);
  });
</script>
</body>
